
@{
    ViewBag.Title = "Onas";
}

<style>
    footer {
        color: blueviolet;
    }
</style>
<h2>To jest opis KT</h2>

<img src="~/Img/pobrane.jpg" />
<article>
    <h1>@ViewBag.text</h1>
    <p></p>
    <p></p>
</article>



